* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-desaturated-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
}

.container {
    margin: 0 auto;
    text-align: center;
}

.top {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: -52px 0 25px 0;
}

h3 {
    font-weight: 700;
}

span {
    font-weight: 400;
    margin-left: 10px;
}

p {
    margin: 15px 0 10px 0;
    font-weight: 400;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0 10px 0;
}

.stats p {
    margin-top: 5px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}