* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
    --verypaleblue: hsl(225, 100%, 98%);
    --desaturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
}

img {
    max-width: 100%;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--paleblue);
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background: white;
    border-radius: 2rem;
    overflow: hidden;
}

.content {
    padding: 2rem;
    text-align: center;
}

.summary {
    color: var(--darkblue);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.details {
    color: gray;
}







.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}